<h1>Contestants</h1>
<h3>For <%= @bachelorette.name %>, <%= @bachelorette.season_number %> </h3>

<% @contestants.each do |contestant| %>
  <h3><%= link_to "#{contestant.name}", "/contestants/#{contestant.id}" %></h3>
  <p><%= contestant.age %></p>
  <p><%= contestant.hometown %></p>
<% end %>
  <br>

<h3>Contestant Hometowns</h3>
<ul>
  <% @bachelorette.unique_hometowns.each do |hometown| %>
    <li><%= hometown %></li>
  <% end %>
</ul>
